body{
    margin: 0;
    padding: 0;
}

h3{
    font-family: 'Bree Serif', serif;
}

hr{
    height: 2px;
    width: 50px;
    border: none;
}

blockquote{
    /*margin-top: 0px;
    margin-bottom: 0px;*/
    font-size: 1.4em;
    border-color: #ff1744;
}


.modal{
    height: auto !important;
    overflow: auto;
}


.btn{
    text-transform: none;
}


.nav_logo{
    width: 200px;
    margin: 10px;
}

.navbar-fixed{
    height: 0px;
}

a, a:hover, a:visited{
    color: inherit;
    text-decoration: none;
}

.nav_items{
    font-family: 'Montserrat';
}


.feature_image_div{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /*background-color: #faddc1;*/

}



/********************************
***** Live events section. ******
**********************************/


.event_collapsible{
    margin: 0;
}

.event_collapsible_header{
    font-size: 2em;
    text-align: center;
    font-family: 'Bree Serif';
    /*border-radius: 15px ;*/
    padding: 20px;
}

.event_collapsible_body{
    max-height: 400px;
    overflow: scroll;
    overflow-x: auto;
}

.live_time{
    font-weight: bold;
    font-size: 1em;
    /*margin-right: 50px;*/
}

.live_message{
    font-size: 1.4em;   
}

.fab{    
    margin-top: -28px;
    margin-bottom: -28px; 
}




/********************************
**********************************
********************************** */

.sub_title{
    font-family: 'Montserrat';
}

.events{
    margin: 0px;
    padding-top: 30px;
    min-height: 90vh;
    background: linear-gradient(rgba(236,240,241 ,1),rgba(236,240,241 ,0.5),rgba(236,240,241 ,1)), url("../img/toon.jpg") ;
    background-size: contain;
    padding-bottom: 60px;
    margin-top: -22px;
}

.card_cont{
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.day_card_cont{
    margin-bottom: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card .daywise-card{
    padding: 0px;
}

.comittee--card{
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.4);
    min-width: 267px;
}

.comittee--card:hover{
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.7);
}

.events li, .comittee--events li{
    padding: 5px;
    /*font-size: 1.1em;*/
    font-family: Montserrat;
}

.title_card{
    box-shadow: none;
    margin: 0;
}

.comittee--events{
    margin: 0px;
    padding-top: 30px;
    min-height: 90vh;
    background: linear-gradient(rgba(236,240,241 ,1),rgba(236,240,241 ,0.5),rgba(236,240,241 ,1)), url("../img/spongeBob.jpg") ;
    background-size: contain;
    padding-bottom: 60px;
}

.comittee--card{
    margin-left: 20px !important;
    margin-right: 20px !important;
}




.gallery{
    margin-bottom: 0px;
    padding: 20px;
    min-height: 90vh;
}


.left_btn, .right_btn{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.carousel.carousel-slider{
    height: 60vh;
    margin-bottom: 20px;
}

.sponsors{
    width: auto;
    height: auto;
    padding: 40px;
    /*display: flex;    
    justify-content: space-around;
    align-items: center;*/
}

.sponsors_list{
    display: flex;
    justify-content: space-around;  
    flex-wrap: wrap;
}

.sp_card_in{
    margin-top: 10px;
    max-height: 210px;
}

.contact{
    width: auto;
    margin: 0px;
    padding: 20px;
    padding-bottom: 40px;
    min-height: 90vh;
    /*z-index: -1;*/
    /*display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;*/
    /*background-color: rgba(20,20,20,1);*/

}

.address{
    font-size: 1.6em;
}

.address_sub{
    font-size: 1.2em;
    /*max-width: 300px;*/
}

.map-card .card-content, .map-card{
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px !important;
    /*margin: 0px !important;*/
}

iframe{
    width: 100%;
}



.contact_card{
    min-width: 267px; 
    max-width: 300px;
}

.soc_divider{
    margin-top: 20px;
    margin-bottom: 20px;
}

.soc_ele{
    padding: 20px !important;
    font-size: 1.2em;
}

.soc_ele span{
    padding-left: 20px;
}

.social_icon{
    width: 30px;
}

.contact-sub-sect{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
}

.social-container{
    display: flex;
}

footer{
    background-color: rgb(20,20,20);
    margin-bottom: 0px !important;
}

footer .dev{
    padding: 5px;
}

footer .copyright{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



/*****************************************************/
/*Utility classes*/

.hoverShadow{
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.4);
}

.hoverShadow:hover{
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.7);
}


/*******************************************************/
/*  Preloader section  */
/********************************************************/

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #ecf0f1;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
            transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;
}  





